.App {
  text-align: center;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(61, 65, 66);
  color: white;
}

.nav-list{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 40%;
}




.nav-list li{
  color: white;
  list-style: none;
}

.countContainer{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  
}

.btn{
  border: none;
  background-Color: black;
  color: white;
  width: 50px;
  height: 40px;
  border-radius: 20%;
  margin: 20px;
}

.notes{
  margin: 100px;
}
